<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
    <!--<link rel="stylesheet" type="text/css" href="index.css">-->
  </head>

  <body>

    <video id="video" width="840" height="680" autoplay></video>
    <!--<button id="snap" type="button">Snap</button>-->
    <canvas id="photo" width="840" height="680"></canvas>
    <canvas id="board" width="840" height="680"></canvas>
    <br><h3>Color: </h3><input type="color" id="color" value="#0000ff">
    <br>
    <input type="checkbox" id="drawon">Drawing On
    <input type="checkbox" id="eraseron">Eraser On
    <br>
    <button type="button" id="clear">Clear Screen</button>

    
    <script src="static/js/index.js"></script>  
    
  </body>

  
</html>
